<div navi></div>

<!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>Lost password</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">Lost password</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix lostPassword">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>Lost Password</h3></div>
                <div class="panel-body">
                  <form action="" method="POST" role="form">
                    <p class="help-block">Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>
                    <div class="form-group">
                      <label for="">Enter Email</label>
                      <input type="email" class="form-control" id="">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">log in</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<div foot></div>