<div navi></div>
 
<!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeaderImage">
        <div class="container">
          <div class="tableBlock">
            <div class="row tableInner">
              <div class="col-xs-12">
                <div class="page-title">
                  <h2>cart</h2>
                  <ol class="breadcrumb">
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li class="active">cart</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix cartListWrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="cartListInner">
                <form action="#">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Product Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Sub Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in cart.items">
                          <td class="col-xs-2">
                            <button ng-click="removeItem(item.id)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span class="cartImage"><img width="70px" src="{{item.images[0]}}" alt="image"></span>
                          </td>
                          <td class="col-xs-4">{{item.name}}</td>
                          <td class="col-xs-2">{{item.price}}</td>
                          <td class="col-xs-2"><input class="update-qty-input" data-product-id="{{item.id}}" type="text" placeholder="{{item.quantity}}"></td>
                          <td class="col-xs-2">{{item.price * item.quantity}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="updateArea">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="I have a discount coupon" aria-describedby="basic-addon2">
                      <a href="#" class="btn input-group-addon" id="basic-addon2">apply coupon</a>
                    </div>
                    <a ng-click="updateCartQty()" href="#" class="btn">update cart</a>
                  </div>
                  <div class="row totalAmountArea">
                    <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                      <ul class="list-unstyled">
                        <li>Sub Total <span>{{prices.currency}}{{prices.subTotal}}</span></li>
                        <li>UK Vat <span>{{prices.currency}}{{prices.vat}}</span></li>
                        <li>Grand Total <span class="grandTotal">{{prices.currency}}{{prices.grandTotal}}</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="checkBtnArea">
                    <a href="/checkout-step-1" class="btn btn-primary btn-block">checkout<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

<div foot></div>
